{% extends 'base.html' %}

{% block content %}
    <main>
        <nav>
            <li>
                <a style="text-decoration: none" href="{% url 'home' %}">Home</a>
                <a style="text-decoration: none" href="{% url 'login' %}">Login</a>
                <a style="text-decoration: none" href="{% url 'logout' %}">Logout</a>
                <a style="text-decoration: none" href="{% url 'signup' %}">Signup</a>
                <a style="text-decoration: none" href="{% url 'create_account' %}">Create Account</a>
                <a style="text-decoration: none" href="{% url 'account_list' %}">Account List</a>
                <a style="text-decoration: none" href="{% url 'create_category' %}">Create Category</a>
                <a style="text-decoration: none" href="{% url 'category_list' %}">Category List</a>
                <a style="text-decoration: none" href="{% url 'create_receipt' %}">Create Receipt</a>
            </li>
        </nav>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for list in categories %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>
                            <!-- var.view function that was renamed to get stuff from model.all(get all the stuff froom that model
                            through te view function you made and renamed an html var)|filter those results by the length of it
                            to get the count -->
                            <!-- Thus giving you the number of receipts which is what is asked for -->
                            {{ list.receipts.all|length }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
