{% extends 'base.html' %}

{% block content %}
    <main>
        <nav>
            <li>
                <a style="text-decoration: none" href="{% url 'home' %}">Home</a>
                <a style="text-decoration: none" href="{% url 'login' %}">Login</a>
                <a style="text-decoration: none" href="{% url 'logout' %}">Logout</a>
                <a style="text-decoration: none" href="{% url 'signup' %}">Signup</a>
                <a style="text-decoration: none" href="{% url 'create_account' %}">Create Account</a>
                <a style="text-decoration: none" href="{% url 'account_list' %}">Account List</a>
                <a style="text-decoration: none" href="{% url 'create_category' %}">Create Category</a>
                <a style="text-decoration: none" href="{% url 'category_list' %}">Category List</a>
                <a style="text-decoration: none" href="{% url 'create_receipt' %}">Create Receipt</a>
            </li>
        </nav>
        <div>
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
