{% extends 'base.html' %}

{% block content %}
    <main>
        <nav>
            <li>
                <a style="text-decoration: none" href="{% url 'home' %}">Home</a>
                <a style="text-decoration: none" href="{% url 'login' %}">Login</a>
                <a style="text-decoration: none" href="{% url 'logout' %}">Logout</a>
                <a style="text-decoration: none" href="{% url 'signup' %}">Signup</a>
                <a style="text-decoration: none" href="{% url 'create_account' %}">Create Account</a>
                <a style="text-decoration: none" href="{% url 'account_list' %}">Account List</a>
                <a style="text-decoration: none" href="{% url 'create_category' %}">Create Category</a>
                <a style="text-decoration: none" href="{% url 'category_list' %}">Category List</a>
                <a style="text-decoration: none" href="{% url 'create_receipt' %}">Create Receipt</a>
            </li>
        </nav>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for list in accounthtml %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.number }}</td>
                        <td>{{ list.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
