<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <nav>
                <li>
                    <a style="text-decoration: none" href="{% url 'home' %}">Home</a>
                    <a style="text-decoration: none" href="{% url 'login' %}">Login</a>
                    <a style="text-decoration: none" href="{% url 'logout' %}">Logout</a>
                    <a style="text-decoration: none" href="{% url 'signup' %}">Signup</a>
                    <a style="text-decoration: none" href="{% url 'create_account' %}">Create Account</a>
                    <a style="text-decoration: none" href="{% url 'account_list' %}">Account List</a>
                    <a style="text-decoration: none" href="{% url 'create_category' %}">Create Category</a>
                    <a style="text-decoration: none" href="{% url 'category_list' %}">Category List</a>
                    <a style="text-decoration: none" href="{% url 'create_receipt' %}">Create Receipt</a>
                </li>
            </nav>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for list in receipt %}
                        <tr>
                            <td>{{ list.vendor }}</td>
                            <td>{{ list.total }}</td>
                            <td>{{ list.tax }}</td>
                            <td>{{ list.date|date:"m/d/y" }}</td>
                            <td>{{ list.category.name }}</td>
                            <td>{{ list.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
